
body {
	padding: 50px 20%;

}

p {
	font-family: Georgia, serif;
	color: darkslategray;
	text-align: justify;
	font-style: italic;

}

h1, h2, h3 { 
	color: plum;
}
h1, h3 {
	text-align: center;

}
h2 {
	text-align: right;
	text-decoration: underline;
	text-decoration-color: lightslategray;
}
h1 {
	text-transform: uppercase;
}

b, strong {
	font-weight: bold;
	color: plum;
}



hr {
	color: lightslategray;
	border-top: 2px dotted #8c8b8b;
	width: 50%;

}


