
body {
	padding: 50px 20%;
	font-family: 'Montserrat', sans-serif;

}

p {
	color: darkslategray;
	text-align: justify;


}

h1, h2, h3 { 
	color: plum;
}
h1, h3 {
	text-align: center;

}
h2 {
	text-align: right;
	text-decoration: underline;
	text-decoration-color: lightslategray;
}
h1 {
	text-transform: uppercase;
}

b, strong {
	font-weight: bold;
	color: plum;
}



hr {
	color: lightslategray;
	border-top: 2px dotted #8c8b8b;
	width: 50%;

}

.big-achievement {
	color: red;
}

.important-text p {
	font-style: italic;
}